@import "./icons";

:root {
  --search-container-width: 500px;
}

@media screen and (max-width: 500px) {
  :root {
    --search-container-width: 460px;
  }
}


html body {
  background-color: #fff;
}

body {
  .center-search-container {
    position: absolute;
    left: 50vw;
    top: 175px;
    width: var(--search-container-width);
    margin-left: calc(0px - (var(--search-container-width) / 2));
  }
  .bili-header .slide-down .center-search-container {
    margin-left: 0;
    width: auto;
    position: static;
  }

  .header-channel {
    display: none;
  }

  .bili-header {
    .bili-header__channel {
      display: none;
    }
  }

  .bili-feed4-layout {
    display: none;
  }

  .palette-button-outer {
    display: none;
  }

  .trending {
    display: none;
  }
}

.button {
  padding: 8px 15px;
  background: #f3f3f3;
  &:hover {
    background: #eee;
  }
}

/* dynamics content styles */

.dynamics-container {
  width: 86vw;
  margin: 0 auto;
  margin-top: 80px;
  font-size: 16px;
  padding-bottom: 50px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;

  @media screen and (max-width: 1000px) {
    width: 100vw;
    margin-left: 0; margin-right: 0;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  section {
    > .title {
      font-size: 20px;
      text-align: center;
      margin-bottom: 15px;
    }
  }

  .date-separator {
    text-align: center;
    color: #aaa;
    margin: 15px 0;
    display: flex;
    &:before,
    &:after {
      content: "";
      display: block;
      height: 1px;
      background-color: #ccc;
      margin-top: 12px;
    }
    &:before {
      width: 25px;
      margin-right: 10px;
    }
    &:after {
      flex-grow: 1;
      margin-left: 10px;
    }
  }

  .icon {
    position: relative;
    top: 2px;
    margin-right: 2px;
  }

  .dynamic-item {
    margin-bottom: 10px;
    color: #aaa;
    display: flex;
    position: relative;

    .seq {
      width: 25px;
      text-align: right;
      padding-right: 5px;
      padding-top: 3px;
      margin-right: 10px;
      font-size: 14px;
      cursor: pointer;

      &:hover + .preview {
        display: block;
      }
    }

    .preview {
      display: none;
      height: 200px;
      // relative to .dynamic-item
      position: absolute;
      left: 25px; top: 0px; right: 0;
      z-index: 1;
      border: 1px solid #aaa;

      .inner {
        display: flex;
        position: absolute;
        left: 0; right: 0; bottom: 0;
        top: 50px;
        padding: 10px;
        background-color: #fff;

        img {
          border: 1px solid #eee;
        }
        .desc {
          margin-left: 20px;
          color: #555;
          max-height: 6.4em;
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    .title {
      color: #333;
      flex-grow: 1;
      flex-wrap: wrap;
      padding-top: 3px;
      a {
        display: inline-block;
        padding-bottom: 1px;
      }
      // background-color, child selector, sibling selector are not allowed in pseudo element
      a:visited {
        color: #AC6DFF;
        // purple: #C392FF, #AC6DFF, #8F56E4, #723ECC, #5627B3
        // yellow: #FFDB93, #FFC65D, #FFB027,
      }
    }
    .meta {
      font-size: 14px;
      position: relative;

      .value {
        margin-right: 3px;
      }
    }
    .desc {
      display: none;
    }

    // styles
    &:hover {
      .seq {
        background-color: #eee;
      }
    }
    a:hover {
      color: var(--brand_blue);
    }
    .with-sep:after {
      content: "•";
      display: inline-block;
      margin: 0 10px;
    }
  }

  .actions {
    margin: 30px 0;

    .load-more {
      margin-left: 35px;
    }
  }
}

.player-dialog {
  position: fixed;
  width: 80vw;
  left: calc(50% - 40vw);
  top: 8vh;
  padding: 20px 0;
  border: 0;
  background-color: transparent;

  #minimal-bilibili-player {
    line-height: 0;

    video {
      width: 100%;
      max-height: 70vh;
      // dialog default border;
      border: 3px solid #000;
    }
  }

  .player-panel {
    border: 3px solid #000;
    margin-top: 20px;
    background-color: #fff;
    padding: 10px;
    display: flex;
    gap: 15px;

    .video-info {
      font-size: 15px;
      flex-grow: 1;

      a:hover {
        color: var(--brand_blue);
      }
      .title {
        font-size: 20px;
      }
      .meta {
        position: relative;
        color: #aaa;
        margin-left: -2px;

        .value {
          margin-right: 3px;
        }

        .icon {
          position: relative;
          top: 2px;
          margin-right: 2px;
        }

        .with-sep:after {
          content: "•";
          display: inline-block;
          margin: 0 10px;
        }
      }
      .desc {
        display: block;
        word-wrap: break-word;
        white-space: pre-wrap;
      }
    }

    .player-controls {
      display: flex;
      flex-direction: column;
      gap: 15px;
      min-width: 170px;

      .item {
        display: flex;
        align-items: center;

        label {
          margin-right: 10px;
          width: 30px;
        }
        input[type=range] {
          width: 120px;
        }
        form {
          display: flex;
        }

        .close-button {
          display: flex;
          align-items: center;
          .icon {
            font-size: 20px;
          }
        }
      }

    }
  }
}
